#cpu_progress{
    background-color: #2b542c;
}

/* Progress bars  */
#panel_health #cpu_progress{
    background-color: #8fa876;
}

#panel_health #ram_usage{
    background-color: #8fa876;
}

#panel_health .progress{
    margin-right: 75%;
}

.btn-default{
    background-color: #8fa876;
    color: white;
    border-color: #8fa876;

}

.btn-default:hover{
    background-color: #2b542c;
    color: white;
    border-color: #2b542c;
}

.checkbox{
    color: white;
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}