{% extends "main.html" %}
{% block body %}




        <div id="newPlaylistModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>New Playlist</h4>

                </div>

                <div class="modal-body" style="padding: 10%">
                    <form>

                        <div class="form-group">
                            <label for="name">Give your Playlist an unique name:</label>
                            <input id="playlistName_label" class="form-control" type="text" name="name">
                        </div>

                        <div class="form-group">
                            <label for="description">Give it a description:</label>
                            <input id="playlistDescription_label" class="form-control" type="text" name="description">
                        </div>
                    </form>

                    <div hidden id="newPlaylistWaitField">
                         <span class="glyphicon glyphicon-refresh spinning"></span> Please wait!
                         <p id="newModal_debugMsg"></p>
                     </div>

                    <div hidden id="newPlaylistResultField">
                         <p></p>

                     </div>



                </div>

                <div class="modal-footer">
                    <button id="registerPlaylistModalButton" type="button" class="btn btn-success">Save as Playlist</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>




            </div>

        </div>




        </div>

        <div id="newBuildModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>New Build</h4>
                </div>
                 <div class="modal-body" style="padding: 10%">
                <form>

                <div class="form-group">
                    <label for="name">Give your Image an unique name:</label>
                    <input id="buildName_label" class="form-control" type="text" name="name">

                </div>

                    </form>
                     <div hidden id="newModalDebugField">
                         <span class="glyphicon glyphicon-refresh spinning"></span> Please wait!
                         <p id="newModal_debugMsg"></p>
                     </div>

                     <div hidden id="newModalResultField">
                         <p></p>

                     </div>

                </div>
                <div class="modal-footer">
                    <button id="buildImageModalButton" type="button" class="btn btn-success">Build Image</button>
                    <button id="cancelNewBuildButton" type="button" class="btn btn-danger" data-dismiss="modal">Close</button>


                </div>
            </div>
        </div>
        </div>

    <div id="newWorkFlowModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>New Build</h4>
                </div>
                <div class="modal-body">


                </div>

                <div class="modal-footer">


                </div>
            </div>
        </div>
        </div>

        <div id="infoModuleModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header"><button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Module Information</h4>
                </div>
                <div class="modal-body" style="padding: 10%">
                    <h5>ID/Name/Owner:</h5>
                    <div class="panel panel-default">
                        <div id="infoModal_ID" class="panel-body">
                            test
                        </div>
                    </div>

                    <h5>Description:</h5>
                    <div class="panel panel-default">
                        <div id="infoModal_description" class="panel-body">
                            test
                        </div>
                    </div>

                    <h5>Version:</h5>
                    <div class="panel panel-default">
                        <div id="infoModal_version" class="panel-body">
                            test
                        </div>
                    </div>

                    <h5>Created on:</h5>
                    <div class="panel panel-default">
                        <div id="infoModal_date" class="panel-body">
                            test
                        </div>
                    </div>

                    <h5>Properties:</h5>
                    <div class="panel panel-default">
                        <div id="infoModal_prop" class="panel-body">
                            test
                        </div>
                    </div>

                    <a id="downloadModule" href="/_getFileByID?id=11" target="_blank"><button  id="downloadModuleButton" type="button" class="btn btn-success">Download Module</button></a>

                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>





<h2 align="center">Create New Image Wizard</h2>


<br>



    <div id="choiceStep" class="container">
        <div class="row">
            <div class="text-center">
                <h4>Make a choice:</h4>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <button id="pickModules_button" type="button" class="btn btn-default"><span class="glyphicon glyphicon-th-list"></span> Pick from Modules</button>
                        <br>
                        <br>
                        <button id="pickWorkflow_butto" type="button" class="btn btn-default"><span class="glyphicon glyphicon-floppy-open"></span> Load Workflow</button>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div hidden id="stepOne">
    <h4>Step 1: Select your own modules you wish to install on your new image.</h4>
    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table" id="own_modules_table">
                <thead>
                <tr>
                    <th>mark</th>
                    <th>id</th>
                    <th>name</th>
                    <th>owner</th>
                    <th>isPrivate</th>
                    <th>type</th>
                    <th>version</th>
                    <th>date</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

    </div>

    <div hidden id="stepTwo">
    <h4>Step 2: Select additional modules from other members.</h4>
    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table" id="public_modules_table">
                <thead>
                <tr>
                    <th>mark</th>
                    <th>id</th>
                    <th>name</th>
                    <th>owner</th>
                    <th>isPrivate</th>
                    <th>type</th>
                    <th>version</th>
                    <th>date</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    </div>

    <div hidden id="stepThree">
    <h4>Step 3: Add external modules form Ansible Galaxy</h4>
        <div class="row">
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>Insert search criteria for Ansible Galaxy:</h4>
                            <form>
                            <div class="form-group">
                                <label for="username">Tags (comma seperated):</label>
                                <input type="text" class="form-control" id="tagListField">
                            </div>
                            <div class="form-group">
                                <label for="password">Author (optional):</label>
                                <input type="text" class="form-control" id="authorField">
                            </div>

                                <button id="searchNowButton" type="button" class="btn btn-success">Search Now!</button>
                            </form>
                     </div>
                </div>
            </div>


            <div hidden id="searchResultBox" class="row">
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>Search Result:</h4>
                        <table class="table" id="searchResultTable">
                            <thead>
                                <tr>
                                    <th>Action</th>
                                    <th>Galaxy Module</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>


                        </table>


                    </div>
                </div>
            </div>

        </div>
        </div>


        <div class="row">
            <div class="col-lg-10">

                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>Your current selection:</h4>
                        <table class="table" id="currentGalaxySelectionTable">
                            <thead>
                            <tr>
                                <th>Galaxy Module</th>
                                <th>Description</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


        <br>


    </div>


    <div hidden id="stepFour">
    <h4>Step 4: Final Check and Submit</h4>


    <div class="panel panel-default">
        <div class="panel-body">
            <h4>Selected Modules:</h4>
            <table class="table" id="selected_modules_table">
                <thead>
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>owner</th>
                    <th>isPrivate</th>
                    <th>type</th>
                    <th>version</th>
                    <th>date</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <br>

            <h4>External Galaxy Modules:</h4>
            <div class="row">
                <div class="col-lg-8">
                    <table class="table" id ="finalGalaxySelectionTable">
                    <thead>
                    <tr>
                        <th>Galaxy Module</th>
                        <th>Galaxy Description</th>
                    </tr>
                    </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <br>


            <h4>Current forced Modules:</h4>
            <table class="table" id="forced_modules_table">
                <thead>
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>owner</th>
                    <th>isPrivate?</th>
                    <th>type</th>
                    <th>version</th>
                    <th>date</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>



    </div>


        <div class="panel panel-default">
        <div class="panel-body">
        <h4>What do you want to do with this selection?</h4>
            <button id="buildNow_button" type="button" class="btn btn-default"><span class="glyphicon glyphicon-cd"></span> Build Now!</button>
            <button id="saveWorkflow_button" type="button" class="btn btn-default"><span class="glyphicon glyphicon-floppy-save"></span> Save as Workflow!</button>
        </div>
    </div>
    </div>


    <button id="previousStepButton" type="button" class="btn btn-default">Previous Step</button>
    <button id="NextStepButton" type="button" class="btn btn-default">Next Step</button>


    <script type="text/javascript">

    $(document).ready(function () {
        $('#previousStepButton').hide();
        $('#NextStepButton').hide();

        //Fill onw module table, like I did a billion times already....
        getModules('/_getOwnModules', '#own_modules_table');
        getModules('/_getPublicModules', '#public_modules_table');
        getModules('/_getForcedModules', '#forced_modules_table');


    });

    function getModules(rest_url, table) {
        $.getJSON(rest_url, function (result) {

            for(var i = 0; i < result.length; i++){
                var target = table + ' > tbody:last-child';
                var infoButton = '<button id="infoButton" type = "button" class = "btn btn-xs"><span class="glyphicon glyphicon-info-sign"></span></button>';
                var tableData = '<tr>';
                var checkButton = '<button id="check_button" type="button" class="btn btn-xs btn-success">CHECK ME</button>';

                if(table != '#forced_modules_table'){
                    tableData = tableData.concat('<td>' + checkButton +'</td>');
                }

                tableData = tableData.concat('<td class="moduleID">' + result[i].id + '</td>');
                tableData = tableData.concat('<td>' + result[i].name+ '</td>');
                tableData = tableData.concat('<td>' + result[i].owner+ '</td>');
                tableData = tableData.concat('<td>' + result[i].isPrivate+ '</td>');
                tableData = tableData.concat('<td>' + result[i].module_type+ '</td>');
                tableData = tableData.concat('<td>' + result[i].version+ '</td>');
                tableData = tableData.concat('<td>' + result[i].date+ '</td>');



                tableData = tableData.concat('<td>' + infoButton + ' '  +  '</td>');
                tableData = tableData.concat('</tr>');
                $(target).append(tableData);
            }
        })


    }

    var idList = [];
    var stepIndex = 1;
    var steps = {
        1: 'stepOne',
        2: 'stepTwo',
        3: 'stepThree',
        4: 'stepFour'
    };


    //Toggle selection on button click
    $('.table').on('click', '#check_button', function () {

        var $row = $(this).closest('tr');
        var $columns = $row.find('td');

        //when row is already selected, unhighlight it and remove from array.
        if($row.hasClass('activeRow')){
            $row.removeClass('activeRow');
            delete idList[$columns[1].innerText];
            return;
        }

        //otherwise highlight it and put the id to array
        $row.addClass('activeRow');
        idList[$columns[1].innerText] = $row;
    });



        //Todo make a seperation for local modules and galaxy modules
        $('.panel-body').on('click', '#infoButton', function () {
        var $row = $(this).closest('tr');
        var $columns = $row.find('td');
        targetID = $row.find(".moduleID").html();

        $.getJSON('/_getModuleByID', {
            id: targetID
        }, function (result) {

           var id = result.id;
           var name = result.name;
           var owner = result.owner;
           var description = result.description;
           var version = result.version;
           var date = result.date;
           var moduleType = result.module_type;
           var isPrivate = result.isPrivate;
           var isForced = result.isForced;

           $('#infoModal_ID').text(id + ", " + name + ", " + owner);
           $('#infoModal_description').text(description);
           $('#infoModal_version').text(version);
           $('#infoModal_date').text(date);
           $('#infoModal_prop').text(moduleType + ", isPrivate: " + isPrivate + ", isForced: " + isForced);

           $('#downloadModuleButton').attr('href', '/_getFileByID?id=' + id);

        });

        $('#infoModal_ID').text(targetID);
        $('#infoModuleModal').modal('toggle');


    });

        $('#NextStepButton').click(function () {
           stepIndex++;
           if (stepIndex > 1){
               $('#previousStepButton').show();
               //fade out the current step
               $('#' + steps[stepIndex - 1]).hide();
               $('#' + steps[stepIndex]).show();
           }
           //If we reach the final wizard step, build a copy of all selected rows and display!
           if (stepIndex == 4){
               $('#NextStepButton').hide();
               for (var key in idList){
                   var rowClone = idList[key].clone();
                   rowClone.removeClass('activeRow');
                   $('#selected_modules_table').append(rowClone);
               }
               $("#selected_modules_table td:first-child").remove();


               $('#currentGalaxySelectionTable > tbody > tr').each(function () {
                   var rowClone = $(this).clone();


                   $('#finalGalaxySelectionTable').append(rowClone);



               })
               $('#finalGalaxySelectionTable td:last-child').remove();


           }

        });


        $('#previousStepButton').click(function () {
            stepIndex--;
            $('#selected_modules_table > tbody').empty();
            $('#finalGalaxySelectionTable > tbody').empty();
            if(stepIndex == 1){
                $('#previousStepButton').hide();
            }
            if(stepIndex < 4){
                $('#NextStepButton').show();
                $('#' + steps[stepIndex + 1]).hide();
                $('#' + steps[stepIndex]).show();
            }



        });

    $('#pickWorkflow_butto').click(function () {
        alert("Not implemented yet.");
    });

    $('#pickModules_button').click(function () {
        $('#choiceStep').hide();
        $('#stepOne').show();
        $('#NextStepButton').show();
    });

    $('#buildNow_button').click(function () {
        $('#newBuildModal').modal('toggle');
    });

    $('#newBuildModal').on('hidden.bs.modal', function () {
        $('#newModalDebugField').hide();
        $('#newBuildModal .form-group').show();
        $('#newBuildModal #buildImageModalButton').show();
        $('#newModalResultField').hide();
    });


    $('#saveWorkflow_button').click(function () {

        $('#newPlaylistModal').modal('toggle');

    });


    $('#registerPlaylistModalButton').click(function () {
        var labelValue = $('#playlistName_label').val();

        if (labelValue.length < 1){
            alert("Please insert a valid unique name.");
            return;
        }

        $('#newPlaylistModal form').hide();
        $('#registerPlaylistModalButton').hide();
        $('#newPlaylistWaitField').show();


        var module_id_array = new Array();
        for(var $row in idList){
           module_id_array.push($row);
        }

        //build list of dict
        var galaxyCollection = [];


        $('#finalGalaxySelectionTable tr').each(function () {

            var entry = {
                module: $(this).find("td").eq(0).html(),
                description: $(this).find("td").eq(1).html()
            };
            galaxyCollection.push(entry)

        });
        galaxyCollection.shift();



        $.ajax({
            url: "/_registerNewPlaylist",
            type: "POST",
            data: JSON.stringify({
                modules: module_id_array,
                galaxy: galaxyCollection,
                description: $('#playlistDescription_label').val(),
                playlistName: labelValue
            }),
            contentType: "application/json; charset=utf-8",
            success: function(data) {
                console.log(data);
                $('#newPlaylistWaitField').hide();
                $('#newPlaylistResultField').show();
                $('#newPlaylistResultField p').text(data.result);
            }
        })



    });


    $('#newPlaylistModal').on('hidden.bs.modal', function () {


        $('#newPlaylistResultField p').text('');
        $('#newPlaylistResultField').hide();

        $('#newPlaylistModal form').show();
        $('#registerPlaylistModalButton').show();


    });


    $('#buildImageModalButton').click(function () {
        var labelValue = $('#buildName_label').val();

        if (labelValue.length < 1){
            alert("Please insert a valid unique name.");
            return;
        }
        $('#newModalDebugField').show();
        $('#newBuildModal .form-group').hide();
        $('#newBuildModal #buildImageModalButton').hide();
        $('#newModal_debugMsg').text('Format Selection...');

        var module_id_array = new Array();
        for(var $row in idList){
           module_id_array.push($row);
        }

        //build list of dict
        var galaxyCollection = [];


        $('#finalGalaxySelectionTable tr').each(function () {

            var entry = {
                module: $(this).find("td").eq(0).html(),
                description: $(this).find("td").eq(1).html()
            };
            galaxyCollection.push(entry)

        });
        galaxyCollection.shift();




        $.ajax({
            url: "/_requestNewBuild",
            type: "POST",
            data: JSON.stringify({
                modules: module_id_array,
                galaxy: galaxyCollection,
                name: labelValue
            }),
            contentType: "application/json; charset=utf-8",
            success: function(data) {
                $('#newModalDebugField').hide();
                $('#newModalResultField').show();
                $('#newModalResultField p').text(data.result[1]);
            }
        })

    });


    $('#searchNowButton').click(function () {

        if($('#tagListField').val().length > 0 || $('#authorField').val().length > 0){
            $('#tagListField').attr("disabled", true);
            $('#authorField').attr("disabled", true);
            $('#searchNowButton').attr('disabled', true);


            $.ajax({
                url: "/_getGalaxySearchResult",
                type: "POST",
                data: JSON.stringify({
                    tag: $('#tagListField').val(),
                    author: $('#authorField').val()

                }),
                contentType: "application/json; charset=utf-8",
                success: function (data){

                    $('#tagListField').attr("disabled", false);
                    $('#authorField').attr("disabled", false);
                    $('#searchNowButton').attr('disabled', false);

                    //Fill up the table data and show table


                    $('#searchResultTable > tbody').empty();

                    for(var i = 0; i < data.length; i++){
                        var target = '#searchResultTable > tbody:last-child';
                        var checkButton = '<button id="AddThisRole_Button" type="button" class="btn btn-xs btn-success">Add this Role</button>';
                        var tableData = '<tr>';
                        tableData = tableData.concat('<td>' + checkButton + '</td>');
                        tableData = tableData.concat('<td>' + data[i].module + '</td>');
                        tableData = tableData.concat('<td>' + data[i].description + '</td>');
                        tableData = tableData.concat('</tr>');
                        $(target).append(tableData);
                        $('#searchResultBox').attr("hidden", false);

                    }
                }
            })
        }
    });



    var galaxyList = [];


    function removeFromArray(array, element) {
        const index = array.indexOf(element);

        if (index !== -1) {
            array.splice(index, 1);
        }
}
    function isInTable(table, term) {

        var flag = false;
        $('#' + table + ' tr').each(function() {
            if ($(this).find('td').eq(0).text() == term) {
                flag = true;
            }
        });
        return flag;
    }

    $('.table').on('click', '#AddThisRole_Button', function () {

        var $row = $(this).closest('tr');
        var $columns = $row.find('td');

        if(!isInTable('currentGalaxySelectionTable', $columns[1].innerText)){
                var button = '<button id="removeGalaxyEntry_button" type="button" class="btn btn-xs btn-danger">Remove</button>';
                var tableData = '<tr>';
                tableData = tableData.concat('<td>' + $columns[1].innerText + '</td>');
                tableData = tableData.concat('<td>' + $columns[2].innerText + '</td>');
                tableData = tableData.concat('<td>' + button + '</td>');
                tableData = tableData.concat('</tr>');
                $('#currentGalaxySelectionTable > tbody:last-child').append(tableData);
                galaxyList.push($columns.clone());
                $columns.remove();
        }
    })

    $('.table').on('click', '#removeGalaxyEntry_button', function () {

        var $row = $(this).closest('tr');
        var $columns = $row.find('td');

        removeFromArray(galaxyList, $columns);
        $row.remove();

    })







    </script>



{% endblock %}