{% extends "main.html" %}
{% block body %}

        <div id="infoModuleModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header"><button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Module Information</h4>
                </div>
                <div class="modal-body" style="padding: 10%">
                    <h5>ID/Name/Owner:</h5>
                    <div class="panel panel-default">
                        <div id="infoModal_ID" class="panel-body">
                            test
                        </div>
                    </div>

                    <h5>Description:</h5>
                    <div class="panel panel-default">
                        <div id="infoModal_description" class="panel-body">
                            test
                        </div>
                    </div>

                    <h5>Version:</h5>
                    <div class="panel panel-default">
                        <div id="infoModal_version" class="panel-body">
                            test
                        </div>
                    </div>

                    <h5>Created on:</h5>
                    <div class="panel panel-default">
                        <div id="infoModal_date" class="panel-body">
                            test
                        </div>
                    </div>

                    <h5>Properties:</h5>
                    <div class="panel panel-default">
                        <div id="infoModal_prop" class="panel-body">
                            test
                        </div>
                    </div>


                    <a href="/_getFileByID?id=11" target="_blank"><button  id="downloadModuleButton" type="button" class="btn btn-success">Download Module</button></a>

                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

<h2 align="center">Create New Image Wizard</h2>
<br>

    <div hidden id="stepOne">
    <h4>Step 1: Select your own modules you wish to install on your new image.</h4>
    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table" id="own_modules_table">
                <thead>
                <tr>
                    <th>mark</th>
                    <th>id</th>
                    <th>name</th>
                    <th>owner</th>
                    <th>isPrivate</th>
                    <th>type</th>
                    <th>version</th>
                    <th>date</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

    </div>




    <div hidden id="stepTwo">
    <h4>Step 2: Select additional modules from other members.</h4>
    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table" id="public_modules_table">
                <thead>
                <tr>
                    <th>mark</th>
                    <th>id</th>
                    <th>name</th>
                    <th>owner</th>
                    <th>isPrivate</th>
                    <th>type</th>
                    <th>version</th>
                    <th>date</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    </div>


    <div hidden id="stepThree">
    <h4>Step 3: Final Check and Submit</h4>


    <div class="panel panel-default">
        <div class="panel-body">
            <h4>Selected Modules:</h4>
            <table class="table" id="selected_modules_table">
                <thead>
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>owner</th>
                    <th>isPrivate</th>
                    <th>type</th>
                    <th>version</th>
                    <th>date</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <br>
            <h4>Current forced Modules:</h4>
            <table class="table" id="forced_modules_table">
                <thead>
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>owner</th>
                    <th>isPrivate?</th>
                    <th>type</th>
                    <th>version</th>
                    <th>date</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>



    </div>


        <div class="panel panel-default">
        <div class="panel-body">
        <h4>What do you want to do with this selection?</h4>
            <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-cd"></span> Build Now!</button>
            <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-floppy-save"></span> Save as Workflow!</button>
        </div>
    </div>
    </div>


    <button id="previousStepButton" type="button" class="btn btn-default">Previous Step</button>
    <button id="NextStepButton" type="button" class="btn btn-default">Next Step</button>


    <script type="text/javascript">

    $(document).ready(function () {
        //$('#stepOne').fadeOut();
        $('#stepOne').fadeIn();
        $('#previousStepButton').hide();

        //Fill onw module table, like I did a billion times already....
        //getModules();

        getModules('/_getOwnModules', '#own_modules_table');
        getModules('/_getPublicModules', '#public_modules_table');
        getModules('/_getForcedModules', '#forced_modules_table');


    });

    function getModules(rest_url, table) {
        $.getJSON(rest_url, function (result) {

            for(var i = 0; i < result.length; i++){
                var target = table + ' > tbody:last-child';
                var infoButton = '<button id="infoButton" type = "button" class = "btn btn-xs"><span class="glyphicon glyphicon-info-sign"></span></button>';
                //var deleteButton = '<button id="delete_module_button" type="button" class="btn btn-xs btn-danger"> <span class="glyphicon glyphicon-trash"></span> </button>';
                var tableData = '<tr>';
                var checkButton = '<button id="check_button" type="button" class="btn btn-xs btn-success">CHECK ME</button>'

                if(table != '#forced_modules_table'){
                    tableData = tableData.concat('<td>' + checkButton +'</td>');
                }


                for(var ind = 0; ind < result[i].length; ind++){
                    if(ind == 0){
                        tableData = tableData.concat('<td class="moduleID">' + result[i][ind]+ '</td>');
                        continue;
                    }
                    tableData = tableData.concat('<td>' + result[i][ind]+ '</td>');
                }
                tableData = tableData.concat('<td>' + infoButton + ' '  +  '</td>');
                tableData = tableData.concat('</tr>');
                $(target).append(tableData);
            }
        })


    }




    var idList = [];
    var stepIndex = 1;
    var steps = {
        1: 'stepOne',
        2: 'stepTwo',
        3: 'stepThree'
    };


    //Toggle selection on button click
    $('.table').on('click', '#check_button', function () {

        var $row = $(this).closest('tr');
        var $columns = $row.find('td');

        //when row is already selected, unhighlight it and remove from array.
        if($row.hasClass('activeRow')){
            $row.removeClass('activeRow');
            delete idList[$columns[1].innerText];
            return;
        }

        //otherwise highlight it and put the id to array
        $row.addClass('activeRow');
        idList[$columns[1].innerText] = $row;
        console.log(idList);

    });






        $('.panel-body').on('click', '#infoButton', function () {
        var $row = $(this).closest('tr');
        var $columns = $row.find('td');
        targetID = $row.find(".moduleID").html();

        $.getJSON('/_getModuleByID', {
            id: targetID
        }, function (result) {

           var id = result[0];
           var name = result[1];
           var owner = result[2];
           var description = result[3];
           var version = result[4];
           var date = result[5];
           var moduleType = result[6];
           var isPrivate = result[7];
           var isForced = result[8];

           $('#infoModal_ID').text(id + ", " + name + ", " + owner);
           $('#infoModal_description').text(description);
           $('#infoModal_version').text(version);
           $('#infoModal_date').text(date);
           $('#infoModal_prop').text(moduleType + ", isPrivate: " + isPrivate + ", isForced: " + isForced);

        });

        $('#infoModal_ID').text(targetID);
        $('#infoModuleModal').modal('toggle');


    });

        $('#NextStepButton').click(function () {
           stepIndex++;
           if (stepIndex > 1){
               $('#previousStepButton').show();
               //fade out the current step
               $('#' + steps[stepIndex - 1]).hide();
               $('#' + steps[stepIndex]).show();
           }
           //If we reach the final wizard step, build a copy of all selected rows and display!
           if (stepIndex == 3){
               $('#NextStepButton').hide();
               for (var key in idList){
                   var rowClone = idList[key].clone();
                   //console.log(rowClone);
                   rowClone.removeClass('activeRow');


                   $('#selected_modules_table').append(rowClone);

               }
               $("#selected_modules_table td:first-child").remove();


           }

        });


        $('#previousStepButton').click(function () {
            stepIndex--;
            $('#selected_modules_table > tbody').empty();
            if(stepIndex == 1){
                $('#previousStepButton').hide();
            }
            if(stepIndex < 3){
                $('#NextStepButton').show();
                $('#' + steps[stepIndex + 1]).hide();
                $('#' + steps[stepIndex]).show();
            }



        })



    </script>



{% endblock %}