{% extends "main.html" %}
{% block body %}


<h3>History Overview</h3>




    <div id="deleteHistoryModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header"><button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Confirm Delete Operation</h4>
                </div>
                <div class="modal-body">
                    <p>Do you really want to delete the following History and it's contents?: </p><div id="deleteHistoryName" ></div>
                </div>
                <div class="modal-footer">
                    <button id="confirmDeletionButton" type="button" class="btn btn-success">Yes</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table" id="history_table">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>name</th>
                        <th>owner</th>
                        <th>Basis Image</th>
                        <th>ImageID of Build in Cloud</th>
                        <th>Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for history in data %}
                    {% if history.isReady == 'true' %}
                <tr>
                    <td>{{ history.id }}</td>
                    <td>{{ history.name }}</td>
                    <td>{{ history.owner }}</td>
                    <td><a href="https://openstack.cebitec.uni-bielefeld.de/horizon/project/ngdetails/OS::Glance::Image/{{ history.base_image_id }}">{{ history.base_image_id }}</a></td>
                    <td><a  href="#" id="newImageIDref">{{ history.new_image_id }}</a></td>
                    <td>{{ history.date }}</td>
                    <td>
                        <a href="/history/{{ history.id }}"><button id = "info_button" type = "button" class="btn btn-xs btn-warning"> <span class="glyphicon glyphicon-info-sign"></span> </button></a>
                        <button id="delete_button" type="button" class="btn btn-xs btn-danger"> <span class="glyphicon glyphicon-trash"></span> </button>

                    </td>


                </tr>
                    {% endif %}
                {% endfor %}


                </tbody>
            </table>
        </div>
    </div>



    <script type="text/javascript">

        $(document).ready(function () {
            //fillHistoryTable()

        });

        $('.panel-body').on('click', '#newImageIDref', function () {

            console.log($(this).text())

            $.ajax({
                url: '/_getOsIDFromOSName/'+$(this).text(),
                type: 'GET',
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                        console.log(data);
                        window.open('https://openstack.cebitec.uni-bielefeld.de/horizon/project/ngdetails/OS::Glance::Image/' + data.result, '_blank');


                }

            })


        })


        function fillHistoryTable() {
            $.getJSON('/_getHistory', function (result) {

                console.log(result);

                var target = '#history_table > tbody:last-child';
                var infoButton = '<button id = "info_button" type = "button" class="btn btn-xs btn-warning"> <span class="glyphicon glyphicon-info-sign"></span> </button>';
                var deleteButton = '<button id="delete_button" type="button" class="btn btn-xs btn-danger"> <span class="glyphicon glyphicon-trash"></span> </button>';



                for(var i = 0; i < result.length; i++){
                    var tableData = '<tr>';
                    tableData = tableData.concat('<td>' + result[i].id + '</td>');
                    tableData = tableData.concat('<td>' + result[i].name + '</td>');
                    tableData = tableData.concat('<td>' + result[i].owner + '</td>');
                    tableData = tableData.concat('<td>' + result[i].base_image_id + '</td>');
                    tableData = tableData.concat('<td>' + result[i].new_image_id + '</td>');
                    tableData = tableData.concat('<td>' + result[i].date + '</td>');


                    //actions
                    tableData = tableData.concat('<td>' + '<a href="/history/' + result[i].id + '/">' +  infoButton +  '</a>' + ' ' + deleteButton + '</td>');
                    tableData = tableData.concat('</tr>');
                    $(target).append(tableData);

                }



            })


        }




        var targetID;
        var deleteTargetRow;
        $('.panel-body').on('click', '.btn-danger', function () {
        console.log('has been pressed');
        var $row = $(this).closest('tr');
        var $columns = $row.find('td');
        targetID = $columns[0].innerText;
        $('#deleteHistoryName').text($columns[1].innerText);
        $('#deleteHistoryModal').modal('toggle');
        deleteTargetRow = $row;
    });


        $('#confirmDeletionButton').click(function () {

            var $columns = deleteTargetRow.find('td');
            var result;

            console.log('Pressed: ' + $columns[0].innerText);


            $.ajax({
                url: $SCRIPT_ROOT + '/_deleteHistoryByID/' + $columns[0].innerText,
                type: 'DELETE',
                success: function (data) {
                    if(data.result == 'confirmed'){

                        $('#deleteHistoryModal').modal('hide');
                        location.reload();

                    }else {
                        alert(data.error);
                    }


                }
            });



        })








    </script>
























{% endblock %}