<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<title>Image Creator BibiServ</title>
		<meta name="viewport" content="with=device-width, initial-scale="1">
		<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/sidebar.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ url_for('static', filename='css/main_view.css') }}" rel="stylesheet" type="text/css">
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script type=text/javascript>
            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        </script>
    	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	</head>

    <body>

        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="#" class="navbar-brand">BiBiCreator</a>
                </div>

                <div>
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="#myModal" data-toggle="modal">About</a></li>
                        <li><a href="mailto:awalende@cebitec.uni-bielefeld.de">Contact</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ session['username'] }} <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/logout">Logout</a></li>
                                <li><a href="#">Settings</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


        <div id="wrapper">

            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <br>

                <ul class="sidebar-nav">

                    {% if not session['current'] == 'Overview' %}<li>{% else %}<li class="current">{% endif %}

                        <a href="/">Overview <span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a>

                    </li>

                    {% if not session['current'] == 'Create Image' %}<li>{% else %}<li class="current">{% endif %}

                        <a href="/create_image">Create Image <span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cd"></span></a>

                    </li>

                    {% if not session['current'] == 'History' %}<li>{% else %}<li class="current">{% endif %}

                        <a href="/history_overview">Build History<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-header"></span></a>

                    </li>

                    {% if not session['current'] == 'Manage Modules' %}<li>{% else %}<li class="current">{% endif %}

                        <a href="/manage_modules">Manage Modules<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-book"></span></a>

                    </li>

                    {% if not session['current'] == 'Manage Playlists' %}<li>{% else %}<li class="current">{% endif %}

                        <a href="/playlists">Manage Playlists<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-duplicate"></span></a>

                    </li>


                    {% if not session['current'] == 'Settings' %}<li>{% else %}<li class="current">{% endif %}
                        <a href="#">Settings <span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-wrench"></span></a>
                    </li>


                    <li><a href="/logout">Logout <span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-eject"></span></a></li>
                <br>
                <br>
                {% if session['username'] == 'admin' %}
                <p>Admin Tools</p>


                    {% if not session['current'] == 'Resources/Health' %}<li>{% else %}<li class="current">{% endif %}
                        <a href="/resources">Resources/Health <span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-dashboard"></span></a>
                    </li>

                    {% if not session['current'] == 'Cloud Connection' %}<li>{% else %}<li class="current">{% endif %}
                        <a href="/cloud_connection">Cloud Connection <span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cloud"></span></a>
                    </li>

                    {% if not session['current'] == 'User Management' %}<li>{% else %}<li class="current">{% endif %}
                        <a href="/user_management">User Management<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a>
                    </li>




                {% endif %}

                </ul>
            </div>


            <!-- Modal About -->
            <div id="myModal" class="modal fade" role="dialog">
              <div class="modal-dialog modal-sm">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">About</h4>
                  </div>
                  <div class="modal-body">
                    <h5><b>Author</b></h5>
                      <p>Alex Walender</p>
                      <p>awalende (AT) cebitec.uni-bielefeld.de</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>

              </div>
            </div>

            <!-- Page content -->
            <div id="page-content-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            {% block body %}

                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
