{% extends "main.html" %}
{% block body %}

    <div id="deleteModuleModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header"><button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Confirm Delete Operation</h4>
                </div>
                <div class="modal-body">
                    <p>Do you really want to delete the following Modal: </p><div id="deleteModuleName" ></div>
                </div>
                <div class="modal-footer">
                    <button id="confirmDeletionButton" type="button" class="btn btn-success">Yes</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

    <div id="infoModuleModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header"><button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Module Information</h4>
                </div>
                <div class="modal-body" style="padding: 10%">
                    <h5>ID/Name/Owner:</h5>
                    <div class="panel panel-default">
                        <div id="infoModal_ID" class="panel-body">
                            test
                        </div>
                    </div>

                    <h5>Description:</h5>
                    <div class="panel panel-default">
                        <div id="infoModal_description" class="panel-body">
                            test
                        </div>
                    </div>

                    <h5>Version:</h5>
                    <div class="panel panel-default">
                        <div id="infoModal_version" class="panel-body">
                            test
                        </div>
                    </div>

                    <h5>Created on:</h5>
                    <div class="panel panel-default">
                        <div id="infoModal_date" class="panel-body">
                            test
                        </div>
                    </div>

                    <h5>Properties:</h5>
                    <div class="panel panel-default">
                        <div id="infoModal_prop" class="panel-body">
                            test
                        </div>
                    </div>


                    <a href="/_getFileByID?id=11" target="_blank"><button  id="downloadModuleButton" type="button" class="btn btn-success">Download Module</button></a>

                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

<div id="add_module_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Add New Module</h4>
            </div>
            <div class="modal-body" style="padding: 10%">

                <p>You can add various type of modules, following types are supported:</p>
                <ul>
                    <li><strong>.tar.gz</strong> for Ansible Roles.</li>
                    <li><strong>.yml</strong> or <strong>.yaml</strong> for Ansible Playbooks</li>
                    <li><strong>.sh</strong> for bash scripts.</li>
                </ul>
                <br>

                <form id="uploadModuleForm" action="/_uploadModule" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="file">Select a file.</label>
                        <input type="file" name="file">
                    </div>
                    <div class="form-group">
                        <label for="moduleName">Give this module a name:</label>
                        <input class="form-control" type="text" name="moduleName">
                    </div>
                    <div class="form-group">
                        <label for="moduleDescription">Give this module a proper description:</label>
                        <textarea name="moduleDescriptionText" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="moduleVersion">Give this module a version number:</label>
                        <input class="form-control" type="text" name="moduleVersion">

                    </div>

                    <div class="checkbox">
                        <label><input id="modulePrivateCheckbox" name="moduleIsPrivate" checked="checked" type="checkbox" value="">Module is private.</label>
                    </div>
                    <br>
                    <div class="checkbox">
                        <label {% if not session['username'] == 'admin' %}hidden{% endif %}><input id="moduleForcedCheckbox" name="moduleIsForced" type="checkbox" value="">Module is forced.</label>
                    </div>


                    <br /><br />

                    <button>Upload</button>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>

</div>



<h2 align="center">Manage Modules</h2>
    <br>
    <h4>Manage here your Modules. You can also take a look at public modules made available by the community!</h4>
<br>
    <h3>Own Modules</h3>
    <div class="panel panel-default">

    <div class="panel-body">
        <p>Your own collection of modules.</p>
        <table class="table table-striped" id="own_modules_table">
            <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>owner</th>
                <th>is private?</th>
                <th>type</th>
                <th>version</th>
                <th>date</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <button id="newModuleButton" type="button" class="btn btn-default">Add Module</button>


    </div>


</div>
    <br>


    <h3>Public Community Modules</h3>
    <div class="panel panel-default">

    <div class="panel-body">
        <p>Modules which have been made public by others.</p>
        <table class="table table-striped" id="public_modules_table">
            <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>owner</th>
                <th>is private?</th>
                <th>type</th>
                <th>version</th>
                <th>date</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

    </div>
</div>
    <br>
    <h3>Forced Modules</h3>
    <div class="panel panel-default">

    <div class="panel-body">
        <p>These are the current modules which are forced to install mainly for security reasons.</p>
        <table class="table table-striped" id="forced_modules_table">
            <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>owner</th>
                <th>isPrivate?</th>
                <th>type</th>
                <th>version</th>
                <th>date</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

    </div>
</div>


<script type="text/javascript">

    $(document).ready(function () {
        getOwnModules();
        getPublicModules();
        getForcedModules();

    });

    function getPublicModules() {
        $.getJSON('/_getPublicModules', function (result) {
            for(var i = 0; i < result.length; i++){
                var target = '#public_modules_table > tbody:last-child';
                var infoButton = '<button id="infoButton" type = "button" class = "btn btn-xs"><span class="glyphicon glyphicon-info-sign"></span></button>';
                var tableData = '<tr>';
                for(var ind = 0; ind < result[i].length; ind++){
                    tableData = tableData.concat('<td>' + result[i][ind]+ '</td>');
                }
                tableData = tableData.concat('<td>' + infoButton + ' ' +  '</td>');
                tableData = tableData.concat('</tr>');
                $(target).append(tableData);
            }
        })
    }

    function getForcedModules() {
        $.getJSON('/_getForcedModules', function (result) {
            for(var i = 0; i < result.length; i++){
                var target = '#forced_modules_table > tbody:last-child';
                var infoButton = '<button id="infoButton" type = "button" class = "btn btn-xs"><span class="glyphicon glyphicon-info-sign"></span></button>';
                var tableData = '<tr>';
                for(var ind = 0; ind < result[i].length; ind++){
                    tableData = tableData.concat('<td>' + result[i][ind]+ '</td>');
                }
                tableData = tableData.concat('<td>' + infoButton + ' ' +  '</td>');
                tableData = tableData.concat('</tr>');
                $(target).append(tableData);
            }
        })

    }

    function getOwnModules() {
        $.getJSON('/_getOwnModules', function (result) {

            for(var i = 0; i < result.length; i++){
                var target = '#own_modules_table > tbody:last-child';
                var infoButton = '<button id="infoButton" type = "button" class = "btn btn-xs"><span class="glyphicon glyphicon-info-sign"></span></button>';
                var deleteButton = '<button id="delete_module_button" type="button" class="btn btn-xs btn-danger"> <span class="glyphicon glyphicon-trash"></span> </button>';
                var tableData = '<tr>';

                for(var ind = 0; ind < result[i].length; ind++){
                    tableData = tableData.concat('<td>' + result[i][ind]+ '</td>');
                }
                tableData = tableData.concat('<td>' + infoButton + ' ' + deleteButton +  '</td>');
                tableData = tableData.concat('</tr>');
                $(target).append(tableData);
            }
        })
    }

    $('#newModuleButton').click(function () {
        $('#add_module_modal').modal('toggle');
    })

    $('#uploadModuleForm').submit(function () {
        var formData = new FormData(this);
        //get file from formular
        formData.append('file', $('input[type=file]')[0].files[0]);
        formData.append('isPrivate', $('#modulePrivateCheckbox').prop('checked'));
        formData.append('isForced', $('#moduleForcedCheckbox').prop('checked'));

        $.ajax({
            url: '/_uploadModule',
            type: 'POST',
            data: formData,
            async: false,
            cache: false,
            contentType: false,
            success: function (data) {
                if (data.result == 'confirmed'){
                    location.reload();
                }else {
                    alert(data.result);
                }
            },
            processData: false
        });
        return false;
    })

    var targetID;
    var deleteTargetRow;
    $('#own_modules_table').on('click', '#delete_module_button', function () {
        var $row = $(this).closest('tr');
        var $columns = $row.find('td');
        targetID = $columns[0].innerText;
        $('#deleteModuleName').text($columns[1].innerText);
        $('#deleteModuleModal').modal('toggle');
        deleteTargetRow = $row;
    })

    $('.panel-body').on('click', '#infoButton', function () {
        var $row = $(this).closest('tr');
        var $columns = $row.find('td');
        targetID = $columns[0].innerText;

        $.getJSON('/_getModuleByID', {
            id: $columns[0].innerText
        }, function (result) {

           var id = result[0];
           var name = result[1];
           var owner = result[2];
           var description = result[3];
           var version = result[4];
           var date = result[5];
           var moduleType = result[6];
           var isPrivate = result[7];
           var isForced = result[8];

           $('#infoModal_ID').text(id + ", " + name + ", " + owner);
           $('#infoModal_description').text(description);
           $('#infoModal_version').text(version);
           $('#infoModal_date').text(date);
           $('#infoModal_prop').text(moduleType + ", isPrivate: " + isPrivate + ", isForced: " + isForced);

        });

        $('#infoModal_ID').text($columns[0].innerText);
        $('#infoModuleModal').modal('toggle');


    });

/*
    $('#downloadModuleButton').click(function () {
        $.getJSON('/_getFileByID', {
            id: targetID
        }, function (result) {
            alert(result);
        })

    });

*/

    $('#confirmDeletionButton').click(function () {
        var $columns = deleteTargetRow.find('td');
        var result;

        $.getJSON($SCRIPT_ROOT + '/_deleteModuleByID', {
            id: $columns[0].innerText
        }, function (data) {
            result = data.result;
            if (result == 'confirmed'){
                console.log('Server deleted a module.');
                $columns.hide();
                $('#deleteModal').modal('hide');
                location.reload();
            }else{
                alert(result);
            }
        });
            })



</script>








{% endblock %}