{% extends "main.html" %}

{% block body %}


        <div id="deleteOSImageModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header"><button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Confirm Delete Operation</h4>
                </div>
                <div class="modal-body">
                    <p>Do you really want to delete the following OpenStack Image: </p><div id="deleteOSName" ></div>
                </div>
                <div class="modal-footer">
                    <button data-id="" id="confirmDeletionButton" type="button" class="btn btn-success">Yes</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

<h2 align="center">Welcome back, {{ session['username'] }}!</h2>


        <h3>Images in OpenStack created by BiBiCreator</h3>


    <div class="panel panel-default">
    <div class="panel-body">

    <br>
        <div class="row">

            <div class="col-md-4">
                <h4>Image Maximum Limit</h4>
                <h5 id = 'limitFields'></h5>


            </div>


        </div>


        <table class="table" id="imageTable">
            <thead>
            <tr>
                <th>Name</th>
                <th>Status</th>
                <th>Size</th>
                <th>Date</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
    </div>


<h3>Job Progress and Status</h3>

<div class="panel panel-default">

    <div class="panel-body">
        <p>Don't see any Images? Why not <a href="/create_image">create </a>one?</p>

        <table class="table" id="progressTable">
            <thead>
            <tr>
                <th>Job ID</th>
                <th>Job Name</th>
                <th>Status</th>
                <th>Creation Date</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>

    <br>


    <script type="text/javascript">

    $(document).ready(function () {
        getLimits();
        getJobs();
        getOsImages();

    });

    window.setInterval(function(){
        getJobs();
    }, 5000);

    window.setInterval(function(){
        getLimits();
        getOsImages();
    }, 20000);



    $('.panel-body').on('click', '#showHistoryButton', function () {
       var id = $(this).closest('tr').find('td:first').text();
       id = (id.split('-').pop())
        window.open('/history/' + id, '_blank');
    });


    $('.panel-body').on('click', '#deleteOSImageButton', function () {
       var osName = $(this).closest('tr').find('td:first').text();
       var osID= (osName.split('-').pop())
        $('#deleteOSName').text(osName);
       $('#deleteOSImageModal').modal('toggle');
       $('#confirmDeletionButton').attr('data-name', osName);
    });

    $('#confirmDeletionButton').click(function () {
        var osName = $(this).attr('data-name');

        $.ajax({
            url: '/_deleteOSImageByName/'+osName,
            type: 'DELETE',
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                if('result' in data){
                    location.reload();
                } else{
                    alert(data['error']);
                }


            }

        })

    });


    function getLimits() {

        $.getJSON('/_getUserImageLimit', function (result) {


                $('#limitFields').text(result.currentUsage + ' from ' + result.maxLimit + ' Images stored.')

        })

    }

    function getOsImages() {

        $.getJSON('/_getOSImages', function (result) {

            if('error' in result){
                alert(result.error);
                return;
            }

            $('#imageTable tbody').empty();

            var target = '#imageTable > tbody:last-child';
            for(var i = 0; i < result.length; i++){

                var tableData = '<tr>';
                tableData = tableData.concat('<td>' + result[i].name + '</td>');
                tableData = tableData.concat('<td>' + result[i].status + '</td>');
                tableData = tableData.concat('<td>' + Math.round(result[i].size / 1000000 )+ ' MB</td>');
                tableData = tableData.concat('<td>' + result[i].created_at + '</td>');
                tableData = tableData.concat('<td>');
                tableData = tableData.concat('<a target="_blank" href="https://openstack.cebitec.uni-bielefeld.de/horizon/project/ngdetails/OS::Glance::Image/' + result[i].id + '"><button type="button" class="btn btn-xs btn-standard">Inspect in OS</button> </a>');
                if(result[i].status == 'active'){

                    tableData = tableData.concat('<button id="showHistoryButton" type="button" class="btn btn-xs btn-standard">Show History</button>');
                    tableData = tableData.concat('<button id="deleteOSImageButton" type="button" class="btn btn-xs btn-danger">Delete Image</button>');

                }

                tableData = tableData.concat('</td>');

                tableData = tableData.concat('</tr>');

                 $(target).append(tableData);


            }



        })
    }

    function getJobs() {
        $.getJSON('_getJobs', function (result) {

            //first clean the table from last call
            $('#progressTable tbody').empty();

            var target = '#progressTable > tbody:last-child';
            for(var i = 0; i < result.length; i++){

                var tableData = '<tr data-id="' + result[i].id + '"' +   '>';
                tableData = tableData.concat('<td>' + result[i].id + '</td>');
                tableData = tableData.concat('<td>' + result[i].name + '</td>');


                if(result[i].status == 'in_progress'){
                    var progressText = '<p>' + result[i].progression + '</p>';
                    tableData = tableData.concat('<td><span class="glyphicon glyphicon-refresh spinning"></span> Building...' + progressText + '</td>');
                } else{

                    tableData = tableData.concat('<td>' + result[i].status + '</td>');
                }
                tableData = tableData.concat('<td>' + result[i].date + '</td>');
                //actions column
                tableData = tableData.concat('<td>')

                if(result[i].status == 'ABORTED'){
                    tableData = tableData.concat('<a href="/_getCrashLog/' + result[i].id + '"><button id="getCrashlogFileButton" type="button" class="btn btn-xs btn-standard">Get Crashlog</button></a>  <button id="removeJobButton" type="button" class="btn btn-xs btn-danger">Remove</button>');
                }

                if(result[i].status == 'BUILD OKAY'){
                    tableData = tableData.concat('<button id="removeJobButton" type="button" class="btn btn-xs btn-danger">Remove</button>');
                }
                tableData = tableData.concat('</tr>');
                tableData = tableData.concat('</tr>');
                $(target).append(tableData);

            }


        })


    }



    $('.panel-body').on('click', '#removeJobButton', function () {


        var id = $(this).closest('tr').attr('data-id');
        console.info(id);

        $.ajax({
            url: '/_removeJobByID/' + id,
            type: 'DELETE',
            async: false,
            cache: false,
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                if('result' in data){
                    location.reload();
                } else{
                    alert(data['error']);
                }


            }

        })

    })




    </script>






















{% endblock %}