{% extends "main.html" %}

{% block body %}


        <div id="deleteOSImageModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header"><button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Confirm Delete Operation</h4>
                </div>
                <div class="modal-body">
                    <p>Do you really want to delete the following OpenStack Image: </p><div id="deleteOSName" ></div>
                </div>
                <div class="modal-footer">
                    <button data-id="" id="confirmDeletionButton" type="button" class="btn btn-success">Yes</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

<h2 align="center">Welcome back, {{ session['username'] }}!</h2>


        <h3>Images in OpenStack created by BiBiCreator</h3>


    <div class="panel panel-default">
    <div class="panel-body">

    <br>
        <div class="row">

            <div class="col-md-4">
                <h4>Image Maximum Limit</h4>
                <h5>{{ data.userUsage }} from {{ data.userMaxLimit }} Images build.</h5>


            </div>


        </div>


        <table class="table" id="imageTable">
            <thead>
            <tr>
                <th>Name</th>
                <th>Status</th>
                <th>Size</th>
                <th>Date</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for image in data['images']  %}
            <tr>
            <td>{{ image.name }}</td>
            <td>{{ image.status }}</td>
            <td>{{ image.size|int / 1000000 }}MB</td>
            <td>{{ image.created_at }}</td>
            <td>
                <a target="_blank" href="https://openstack.cebitec.uni-bielefeld.de/horizon/project/ngdetails/OS::Glance::Image/{{ image.id }}"><button type="button" class="btn btn-xs btn-standard">Inspect in OS</button> </a>
                <button id="showHistoryButton" type="button" class="btn btn-xs btn-standard">Show History</button>
                <button id="deleteOSImageButton" type="button" class="btn btn-xs btn-danger">Delete Image</button>
            </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    </div>


<h3>Job Progress and Status</h3>

<div class="panel panel-default">

    <div class="panel-body">
        <p>Don't see any Images? Why not <a href="/create_image">create </a>one?</p>

        <table class="table" id="progressTable">
            <thead>
            <tr>
                <th>Job ID</th>
                <th>Job Name</th>
                <th>Status</th>
                <th>Creation Date</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for tableRow in data['jobs'] %}
            <tr data-id="{{ tableRow.id }}">
                <td>{{ tableRow.id }}</td>
                <td>{{ tableRow.name }}</td>
                <td>{{ tableRow.status }}</td>
                <td>{{ tableRow.date }}</td>
                <td>
                    {% if tableRow.status == 'ABORTED' %}
                         <a href="/_getCrashLog?id={{ tableRow.id }}"><button id="getCrashlogFileButton" type="button" class="btn btn-xs btn-standard">Get Crashlog</button></a>
                         <button id="removeJobButton" type="button" class="btn btn-xs btn-danger">Remove</button>
                    {% endif %}

                    {% if tableRow.status == 'BUILD OKAY' %}
                        <button id="removeJobButton" type="button" class="btn btn-xs btn-danger">Remove</button>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

    <br>


    <script type="text/javascript">

    $(document).ready(function () {
        //getJobs();

    });


    $('.panel-body').on('click', '#showHistoryButton', function () {
       var id = $(this).closest('tr').find('td:first').text();
       id = (id.split('-').pop())
        window.open('/history/' + id, '_blank');
    });


    $('.panel-body').on('click', '#deleteOSImageButton', function () {
       var osName = $(this).closest('tr').find('td:first').text();
       var osID= (osName.split('-').pop())
        $('#deleteOSName').text(osName);
       $('#deleteOSImageModal').modal('toggle');
       $('#confirmDeletionButton').attr('data-name', osName);
    });

    $('#confirmDeletionButton').click(function () {
        var osName = $(this).attr('data-name');

        $.ajax({
            url: '/_deleteOSImageByName',
            type: 'POST',
            data: JSON.stringify({
                imageName: osName
            }),
            async: false,
            cache: false,
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                if('result' in data){
                    location.reload();
                } else{
                    alert(data['error']);
                }


            }

        })

    });

    function getJobs() {
        $.getJSON('_getJobs', function (result) {

            var target = '#progressTable > tbody:last-child';
            for(var i = 0; i < result.length; i++){

                var tableData = '<tr>';
                tableData = tableData.concat('<td>' + result[i].id + '</td>');
                tableData = tableData.concat('<td>' + result[i].name + '</td>');
                tableData = tableData.concat('<td>' + result[i].progress + '</td>');


                if(result[i].status == 'in_progress'){
                    tableData = tableData.concat('<td><span class="glyphicon glyphicon-refresh spinning"></span> Building...</td>');
                } else{
                    tableData = tableData.concat('<td>' + result[i].status + '</td>');
                }




                tableData = tableData.concat('<td>' + result[i].date + '</td>');

                //actions column
                tableData = tableData.concat('<td> dsafdf </td>');
                tableData = tableData.concat('</tr>');
                $(target).append(tableData);

            }


        })


    }



    $('.panel-body').on('click', '#removeJobButton', function () {


        var id = $(this).closest('tr').attr('data-id');

        $.ajax({
            url: '/_removeJobByID',
            type: 'POST',
            data: JSON.stringify({
                id: id
            }),
            async: false,
            cache: false,
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                if('result' in data){
                    location.reload();
                } else{
                    alert(data['error']);
                }


            }

        })

    })




    </script>






















{% endblock %}