{% extends "main.html" %}
{% block body %}

<h2 align="center">Resources and Health</h2>

<h3>Local Machine Health</h3>


    <div class="panel panel-default">
        <div class="panel-body" id="panel_health">
            <h5>CPU Load:</h5>
            <p id="cpu_name">x86</p>

            <div class="progress" id="custom_progress">
                <div class="progress-bar" id="cpu_progress" role="progressbar"  aria-valuenow="{{ data[1] }}" aria-valuemin="0" aria-valuemax="100" style="width:50%">

                </div> {{ data[1] }}%
            </div>

            <br>

            <h5>RAM Usage</h5>
            <div class="progress" id="custom_progress">
                <div class="progress-bar" id="ram_usage" role="progressbar"  aria-valuenow="{{ data[2] }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ data[2] }}%">
                    {{ data[2] }}%
                </div>
            </div>
        </div>

    </div>

    <br>
    <h3>Tool Status</h3>
    <div class="panel panel-default">
        <div class="panel-body" id="panel_tools">
              <table class="table table-striped" id="tool_table">
                <thead>
                  <tr>
                    <th>Tool</th>
                    <th>Version</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
        </div>

    </div>

    <script type="text/javascript">


        $(document).ready(function () {
           refreshHealthData();
           fillToolTable();
        });


        function fillToolTable() {
            $.getJSON('/_getVersions', function (data) {
                var keys = Object.keys(data);
                //alert(keys[0] );
                var index;
                for(var key in data){
                    //console.info(data[key]);
                    var running;
                    if(data[key] == 'N/A'){
                        console.info('found not running app: ' + key);
                        running = '<p style="color:red">NOT RUNNING<p>'
                    } else {
                        running = '<p style="color:green">Ok<p>'
                    }
                    $('#tool_table > tbody:last-child').append('<tr> <td>'+key+'</td> <td>'+data[key]+'</td><td>'+running+'</td> </tr>');
                }

            })

        }

        function refreshHealthData() {

            $.getJSON('/_getHealth', function (data) {
               $('#cpu_name').text(data.cpu_name);
               $('#cpu_progress').attr("aria-valuenow", data.cpu_load);
               $('#cpu_progress').attr("style", "width:" + data.cpu_load + "%");
               $('#cpu_progress').text(data.cpu_load + "%");

               $('#ram_usage').attr("aria-valuenow", data.ram_usage);
               $('#ram_usage').attr("style", "width:" + data.ram_usage + "%");
               $('#ram_usage').text(data.ram_usage + "%");

            });

            //alert("test1");
            setTimeout(refreshHealthData, 2500);

        }

    </script>

{% endblock %}