{% extends "main.html" %}
{% block body %}

     <div id="infoModuleModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header"><button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Module Information</h4>
                </div>
                <div class="modal-body" style="padding: 10%">
                    <h5>ID/Name/Owner:</h5>
                    <div class="panel panel-default">
                        <div id="infoModal_ID" class="panel-body">
                            test
                        </div>
                    </div>

                    <h5>Description:</h5>
                    <div class="panel panel-default">
                        <div id="infoModal_description" class="panel-body">
                            test
                        </div>
                    </div>



                    <a id="downloadRef" href=""><button  id="downloadModuleButton" type="button" class="btn btn-success">Download Module</button></a>


                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>




    <h2 align="center">History Viewer</h2>
    <br>
    <h3>History {{ data.name }}</h3>
    <br>

    <div class="row">
        <div class="col-md-4">
            <h4>Basic Information</h4>
            <div class="panel panel-default">
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span class="badge">{{ data.id }}</span>
                         History ID
                        </li>
                        <li class="list-group-item">
                            <span class="badge">{{ data.owner }}</span>
                         Owner
                        </li>
                        <li class="list-group-item">
                            <span class="badge">{{ data.base_image_id }}</span>
                         Basis Image ID
                        </li>
                        <li class="list-group-item">
                            <span class="badge">{{ data.new_image_id }}</span>
                         This Image ID
                        </li>
                        <li class="list-group-item">
                            <span class="badge">{{ data.date }}</span>
                         Creation Date
                        </li>
                    </ul>
                </div>


            </div>

        </div>

        <div class="col-md-4">
                <h4>Additional Fields</h4>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                             <label id="commentLabel" for="comment">Comment:</label>
                             <textarea id="commentTextArea" class="form-control" rows="5" id="comment">{{ data.commentary }}</textarea>
                        </div>
                        <button id="updateCommentButton" type="button" class="btn btn-success">Update Comment</button>

                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <h4>Downloads</h4>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a href="/_getHistoryLogByID/{{ data.id }}"><button id="downloadLogButton" type="button" class="btn btn-success">Download Logfile </button></a>
                        <br>
                        <br>

                        <a href="/_getBackupHistoryByID/{{ data.id }}"><button id="downloadAllButton" type="button" class="btn btn-success">Download Backup Archive </button></a>

                    </div>
             </div>
             </div>
    </div>


    <br>

    <div class="row">
        <div class="col-lg-9">
             <h3>Used Modules</h3>
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>Own Modules</h4>
                <table class="table" id="ownModulesTable">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Version</th>
                        <th>Module Type</th>
                        <th>Date</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for module in data.modules  %}
                            <tr>
                            {% if module.owner == session['username'] and module.module_type != 'GALAXY' and module.isForced == 'false' %}
                                <td>{{ module.id }}</td>
                                <td>{{ module.name }}</td>
                                <td>{{ module.version }}</td>
                                <td>{{ module.module_type }}</td>
                                <td>{{ module.date }}</td>
                                <td><button id = "info_button" type = "button" class="btn btn-xs btn-warning"> <span class="glyphicon glyphicon-info-sign"></span> </button></td>
                            {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>


                <h4>Public Modules</h4>
                <table class="table" id="publicModulesTable">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Owner</th>
                        <th>Version</th>
                        <th>Module Type</th>
                        <th>Date</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for module in data.modules  %}
                            <tr>
                            {% if module.owner != session['username'] and module.isForced == 'false' and module.module_type != 'GALAXY' %}
                                <td>{{ module.id }}</td>
                                <td>{{ module.name }}</td>
                                <td>{{ module.owner }}</td>
                                <td>{{ module.version }}</td>
                                <td>{{ module.module_type }}</td>
                                <td>{{ module.date }}</td>
                                <td><button id = "info_button" type = "button" class="btn btn-xs btn-warning"> <span class="glyphicon glyphicon-info-sign"></span> </button></td>
                            {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>



                <div class="row">
                    <div class="col-md-6">
                        <h4>Galaxy Roles</h4>
                         <table class="table">
                            <thead>
                            <tr>
                                <th>Galaxy Name</th>
                                <th>Description</th>
                                <th>Actions</th>
                            </tr>
                             </thead>
                             <tbody>
                                {% for module in data.modules %}
                                    <tr>
                                    {% if module.module_type == 'GALAXY' %}
                                        <td>{{ module.name }}</td>
                                        <td>{{ module.description }}</td>
                                        <td><button id = "galaxy_info_button" type = "button" class="btn btn-xs btn-warning"> <span class="glyphicon glyphicon-info-sign"></span> </button></td>


                                    {% endif %}
                                {% endfor %}



                             </tbody>

                </table>

                    </div>


                </div>




                <h4>Forced Modules</h4>
                <table class="table" id="forcedModulesTable">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Version</th>
                        <th>Module Type</th>
                        <th>Date</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for module in data.modules  %}
                            <tr>
                            {% if module.isForced == 'true' %}
                                <td>{{ module.id }}</td>
                                <td>{{ module.name }}</td>
                                <td>{{ module.version }}</td>
                                <td>{{ module.module_type }}</td>
                                <td>{{ module.date }}</td>
                                <td><button id = "info_button" type = "button" class="btn btn-xs btn-warning"> <span class="glyphicon glyphicon-info-sign"></span> </button></td>
                            {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>





        </div>


    </div>


        </div>



    </div>



    <script type="text/javascript">


        $(document).ready(function () {


        });


        //Show information for LOCAL Modules....not from galaxy.
        $('.panel-body').on('click', '#info_button', function () {
            var $row = $(this).closest('tr');
            var $columns = $row.find('td');
            targetID = $columns[0].innerText;
            $.getJSON('/_getHistoryModuleByID', {
                id: targetID
            }, function (result) {
                $('#infoModal_ID').text(result.id + ", " + result.name + ", " + result.owner);
                $('#infoModal_description').text(result.description);
                $('#downloadRef').attr('href', '/_getHistoryModuleFileByID/' + result.id);
            });
            $('#infoModuleModal').modal('toggle');
        });

        $('.panel-body').on('click', '#galaxy_info_button', function () {
            var $row = $(this).closest('tr');
            var $columns = $row.find('td');

            var url_module = $columns[0].innerText;
            url_module = url_module.replace(".", "/");

            //build url
            var galaxyUrl = 'https://galaxy.ansible.com/' + url_module + '/';
            window.open(galaxyUrl, '_blank');
        });






        $('#updateCommentButton').click(function () {
            $.ajax({
                url: "/_updateHistoryComment",
                type: "PUT",
                data: JSON.stringify({
                    targetID: {{ data.id }},
                    commentary: $('#commentTextArea').val()
                }),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    location.reload();
                }
            })
        })


    </script>







{% endblock %}