{% extends "main.html" %}
{% block body %}


    <div data-playlistID="" id="newBuildModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>New Build</h4>
                </div>
                 <div class="modal-body" style="padding: 10%">
                <form>

                <div class="form-group">
                    <label for="name">Give your Image an unique name:</label>
                    <input id="buildName_label" class="form-control" type="text" name="name">

                </div>

                    </form>
                     <div hidden id="newModalDebugField">
                         <span class="glyphicon glyphicon-refresh spinning"></span> Please wait!
                         <p id="newModal_debugMsg"></p>
                     </div>

                     <div hidden id="newModalResultField">
                         <p></p>

                     </div>

                </div>
                <div class="modal-footer">
                    <button id="buildImageModalButton" type="button" class="btn btn-success">Build Image</button>
                    <button id="cancelNewBuildButton" type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
        </div>


        <div id="deletePlaylistModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header"><button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Confirm Delete Operation</h4>
                </div>
                <div class="modal-body">
                    <p>Do you really want to delete the following Playlist: </p><div id="deletePlaylistName" ></div>
                </div>
                <div class="modal-footer">
                    <button id="confirmDeletionButton" type="button" class="btn btn-success">Yes</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>


    <h2 align="center">Playlist Manager</h2>
    <br>



    <div id="choiceStep" class="container">
        <div class="row">
            <h4>Here are your Playlists:</h4>


                <div class="panel panel-default">
                    <div class="panel-body">
                        <table class="table table-striped" id="playlist_table">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Owner</th>
                                <th>Date</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for playlist in data %}
                                <tr data-playlistID="{{ playlist.id }}">
                                    <td>{{ playlist.id }}</td>
                                    <td>{{ playlist.name }}</td>
                                    <td>{{ playlist.owner }}</td>
                                    <td>{{ playlist.date }}</td>
                                    <td>
                                        <button id="buildNow_button" type="button" class="btn btn-success">BUILD</button>
                                       <a href="/playlists/{{ playlist.id }}"> <button type="button" class="btn btn-warning">Edit </button></a>
                                        <button type="button" class="btn btn-danger btn-delete">Delete</button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
        </div>
    </div>



    <script type="text/javascript">


        var targetID;
        var deleteTargetRow;

        $('.btn-delete').click(function () {
            var $row = $(this).closest('tr');
            var $columns = $row.find('td');

            targetID = $columns[0].innerText;
            $('#deletePlaylistName').text($columns[1].innerText);
            $('#deletePlaylistModal').modal('toggle');
            deleteTargetRow = $row;

        });

        $('#confirmDeletionButton').click(function () {

            var $columns = deleteTargetRow.find('td');

            $.getJSON($SCRIPT_ROOT + '/_deletePlaylistByID', {
                id: $columns[0].innerText
            }, function (data) {
                if(data.result == 'confirmed'){
                    location.reload();
                }else {
                    alert('Could not delete playlist.');

                }
            })
        })


         $('.panel-body').on('click', '#buildNow_button', function () {

             var newId = $(this).closest('tr').attr('data-playlistID');

             $('#newBuildModal').attr('data-playlistID', newId);
             $('#newBuildModal').modal('toggle');
         });


        $('#newBuildModal').on('hidden.bs.modal', function () {
            $('#newModalDebugField').hide();
            $('#newBuildModal .form-group').show();
            $('#newBuildModal #buildImageModalButton').show();
            $('#newModalResultField').hide();
        });

        $('#buildImageModalButton').click(function () {

            var labelValue = $('#buildName_label').val();

            if (labelValue.length < 1){
                alert("Please insert a valid unique name.");
                return;
              }

            $('#newModalDebugField').show();
            $('#newBuildModal .form-group').hide();
            $('#newBuildModal #buildImageModalButton').hide();
            $('#newModal_debugMsg').text('Format Selection...');


            $.ajax({
                url: '/_requestNewBuildFromPlaylist',
                type: 'POST',
                data: JSON.stringify({
                    playlistID: $('#newBuildModal').attr('data-playlistID'),
                    jobName: labelValue
                }),
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    if('error' in data){
                        $('#newModalDebugField').hide();
                    $('#newModalResultField').show();
                    $('#newModalResultField p').text(data.error);

                    }

                    $('#newModalDebugField').hide();
                    $('#newModalResultField').show();
                    $('#newModalResultField p').text(data.result);
                }


            })



        })


    </script>
















{% endblock %}